In [90]:
import pandas as pd

In [91]:
path="D:/H&M dataset/transactions_train.csv"
#path="D:/H&M dataset/sample_submission.csv"

df=pd.read_csv(path)

In [92]:
df.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [93]:
df=df[["customer_id","article_id"]]
df.head()

                                         customer_id  article_id
0  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   663713001
1  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   541518023
2  00007d2de826758b65a93dd24ce629ed66842531df6699...   505221004
3  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687003
4  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687004

In [94]:
df=df[:1000]

In [95]:
df.shape

(1000, 2)

In [114]:
import pandas as pd
import numpy as np
import time
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'turicreate'

In [97]:
#item_dummies = pd.get_dummies(df.article_id, prefix="items")
#item_dummies.head()

In [98]:
#df_with_dummies = pd.concat([df,item_dummies],axis='columns')

In [99]:
#df_with_dummies.drop('article_id',axis='columns',inplace=True)

In [100]:
#df_with_dummies.head()

In [101]:
data = pd.melt(df.set_index('customer_id')['article_id'].apply(pd.Series).reset_index(), 
             id_vars=['customer_id'],
             value_name='article_id') \
    .dropna().drop(['variable'], axis=1) \
    .groupby(['customer_id', 'article_id']) \
    .agg({'article_id': 'count'}) \
    .rename(columns={'article_id': 'purchase_count'}) \
    .reset_index() \
    .rename(columns={'article_id': 'product_id'})

data['product_id'] = data['product_id'].astype(np.int64)

In [102]:
data.head()

,customer_id,product_id,purchase_count
0,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,1
1,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,1
2,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221001,1
3,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,1
4,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687001,1

In [103]:
def create_data_dummy(data):
    data_dummy = data.copy()
    data_dummy['purchase_dummy'] = 1
    return data_dummy
data_dummy = create_data_dummy(data)

In [104]:
data_dummy.head()

,customer_id,product_id,purchase_count,purchase_dummy
0,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,1,1
1,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,1,1
2,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221001,1,1
3,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,1,1
4,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687001,1,1

In [105]:
df_matrix = pd.pivot_table(data, values='purchase_count', index='customer_id', columns='product_id')

In [106]:
df_matrix.head()

product_id,156231001,156231002,176550020,179208001,186262006,186264014,188183009,211143022,211143037,212042043,...,700819006,701398001,702072001,703193001,704048006,710390001,714373001,714417001,720384002,728162002
customer_id,,,,,,,,,,,,,,,,,,,,,
000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00007d2de826758b65a93dd24ce629ed66842531df6699338c5570910a014cc2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4c73235dccbbc132280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0008968c0d451dbc5a9968da03196fe20051965edde7413775c4eb3be9abe9c2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
df_matrix.max()

product_id
156231001    2.0
156231002    1.0
176550020    1.0
179208001    1.0
186262006    1.0
            ...
710390001    1.0
714373001    1.0
714417001    1.0
720384002    1.0
728162002    2.0
Length: 815, dtype: float64

In [108]:
df_matrix.min()

product_id
156231001    2.0
156231002    1.0
176550020    1.0
179208001    1.0
186262006    1.0
            ...
710390001    1.0
714373001    1.0
714417001    1.0
720384002    1.0
728162002    2.0
Length: 815, dtype: float64

In [109]:
df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())

In [110]:
df_matrix_norm.head()

product_id,156231001,156231002,176550020,179208001,186262006,186264014,188183009,211143022,211143037,212042043,...,700819006,701398001,702072001,703193001,704048006,710390001,714373001,714417001,720384002,728162002
customer_id,,,,,,,,,,,,,,,,,,,,,
000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00007d2de826758b65a93dd24ce629ed66842531df6699338c5570910a014cc2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4c73235dccbbc132280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0008968c0d451dbc5a9968da03196fe20051965edde7413775c4eb3be9abe9c2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000aa7f0dc06cd7174389e76c9e132a67860c5f65f970699daccc14425ac31a8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
d = df_matrix_norm.reset_index() 
d.index.names = ['scaled_purchase_freq'] 
data_norm = pd.melt(d, id_vars=['customer_id'], value_name='scaled_purchase_freq').dropna()
print(data_norm.shape)
data_norm.head()

NameError: name 'df_matrix_norm' is not defined