In [5]:
import pandas as pd
import numpy as np
import s3fs
import json
from sklearn.metrics.pairwise import cosine_similarity
import datetime

In [3]:
import pandas as pd

In [4]:
path="D:/H&M dataset/transactions_train.csv"
#path="D:/H&M dataset/sample_submission.csv"

df=pd.read_csv(path)
df.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [6]:
df=df[["customer_id","article_id"]]
df.head()

                                         customer_id  article_id
0  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   663713001
1  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   541518023
2  00007d2de826758b65a93dd24ce629ed66842531df6699...   505221004
3  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687003
4  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687004

In [8]:
df=df[:1000]

In [ ]:
path2="D:/H&M dataset/articles.csv"

In [9]:
pivot_df = pd.pivot_table(df,index = 'customer_id',columns = 'article_id',aggfunc = 'count')
pivot_df.reset_index(inplace=True)
pivot_df = pivot_df.fillna(0)
pivot_df = pivot_df.drop('customer_id', axis=1)

In [11]:
co_matrix = pivot_df.T.dot(pivot_df)
np.fill_diagonal(co_matrix.values, 0)